<div class="bg-red-600/[.90] w-full py-4 text-center fixed top-0 left-0 z-10">
  <%= image_tag 'marvel_logo.png', alt: 'Marvel Logo', class: 'inline-block' %>
  <%= render 'search' %>
</div>

<div class="mx-auto pt-40 px-20 pb-6 min-h-screen">
  <% if @comics.size > 0 %>
  <div class="grid grid-cols-5 gap-4" data-controller="comics">
    <%= render @comics %>
  </div>
  <%= render 'pagination' %>
  <% else %>
    <div class="text-center text-2xl text-white pt-40">
      No comics found
    </div>
  <% end %>
</div>